body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px;
}

header, nav, section, aside, footer {
  background-color: #ebebeb;
  text-align: center;
}

header, nav, footer {
  padding: 40px 0px 40px 0px;
  margin: 0px 80px 10px 80px;
}

Article {
  color: #ebebeb;
  background-color: #777;
  padding: 10px 0px 10px 0px;
  margin: 20px 10px 0px 10px;
}

Article h1, p {
  color: #777;
  background-color: #ebebeb;
  margin: 10px 20px 10px 20px;
  padding: 10px 0px 10px 0px;
}

section {
  width: 495px;
  float:left;
  padding: 40px 0px 10px 0px;
  margin: 10px 0px 20px 80px;
}

aside {
  float:left;
  width:285px;
  padding: 40px 0px 175px 0px;
  margin: 10px 0px 0px 20px;
 }

footer {
  clear:both;
}

h1 {
  font-weight: bold;
}
  